@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
@layer components {
  .btn {
    @apply px-[30px] py-[10px] bg-[#12AD8B] text-white rounded-[50px] hover:bg-[#0E8C6A] transition;
  }
}
@layer utilities {
  .shadow {
    box-shadow: 0px 0px 50px 5px #E8F2FC;
  }
}
}